.mytasks-icon {
    top: 18px;
    left: 24px;
    width: 89px;
    height: 89px;
    overflow: hidden;
  }
  .div,
  .mytasks,
  .mytasks-icon {
    position: absolute;
  }
  .mytasks {
    top: 39px;
    left: 129px;
    font-size: 32px;
  }
  .div {
    top: 431px;
    left: 608px;
    font-weight: 500;
    color: #b3e8ff;
  }
  .add-a-task-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: #cde7ff;
    width: 941px;
    height: 79px;
  }
  .add-a-task1 {
    position: absolute;
    top: 21px;
    left: 44px;
    font-weight: 500;
  }
  .add-a-task-item {
    position: absolute;
    top: 0;
    left: 725px;
    border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
    background-color: #1f4278;
    width: 216px;
    height: 79px;
  }
  .you-got-this {
    position: absolute;
    top: 21px;
    left: 755px;
    font-size: var(--font-size-7xl);
    color: var(--color-white);
  }
  .add-a-task {
    position: absolute;
    top: 320px;
    left: 249px;
    width: 941px;
    height: 79px;
    color: var(--color-dimgray);
  }
  .home-page-child,
  .home-page-item {
    position: absolute;
    left: 374px;
    border-radius: var(--br-21xl);
    width: 691px;
    height: 77px;
  }
  .home-page-child {
    top: 554px;
    background-color: var(--better-version-lol-xd);
  }
  .home-page-item {
    top: 647px;
    background-color: rgba(10, 42, 92, 0.8);
  }
  .ellipse-icon,
  .home-page-inner {
    position: absolute;
    top: 568px;
    left: 930px;
    width: 49px;
    height: 49px;
  }
  .ellipse-icon {
    top: 661px;
  }
  .icon-park-solidcorrect,
  .icon-park-solidcorrect1 {
    position: absolute;
    top: 575px;
    left: 937px;
    width: 36px;
    height: 36px;
    overflow: hidden;
  }
  .icon-park-solidcorrect1 {
    top: 668px;
  }
  .home-page-child1,
  .home-page-child2 {
    position: absolute;
    top: 568px;
    left: 992px;
    width: 49px;
    height: 49px;
  }
  .home-page-child2 {
    top: 661px;
  }
  .mditrash-icon,
  .mditrash-icon1 {
    position: absolute;
    top: 572px;
    left: 996px;
    width: 42px;
    height: 42px;
    overflow: hidden;
  }
  .mditrash-icon1 {
    top: 665px;
  }
  .learn-javafx,
  .software-engineering-challenge {
    position: absolute;
    top: 577px;
    left: 431px;
    font-size: var(--font-size-7xl);
  }
  .learn-javafx {
    top: 670px;
    text-decoration: line-through;
    color: #b5afaf;
  }
  .home-page {
    position: relative;
    background-color: #0443a5;
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-9xl);
    color: var(--color-white);
    font-family: var(--font-google-sans);
  }
  