.to-do-app-child2 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--better-version-lol-xd);
    width: 838px;
    height: 1024px;
  }
  .mytasks2 {
    color: var(--a-lighter-version-of-the-blue);
  }
  .mytasks-icon2,
  .welcome-to-mytasks-container1 {
    position: absolute;
    top: 262px;
    left: 35px;
  }
  .mytasks-icon2 {
    top: 36px;
    left: 77px;
    width: 131px;
    height: 131px;
    overflow: hidden;
  }
  .with-our-help1 {
    margin-block-start: 0;
    margin-block-end: 10px;
  }
  .and-crush-your1 {
    margin: 0;
  }
  .with-our-help-container1 {
    position: absolute;
    top: 381px;
    left: 35px;
    font-size: var(--font-size-17xl);
    font-weight: 500;
  }
  .create-an-account-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 4px 6px 11px 6px rgba(60, 60, 60, 0.25);
    width: 496px;
    height: 632px;
  }
  .create-an-account1 {
    position: absolute;
    top: 41px;
    left: 72px;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
  }
  .create-an-account-inner,
  .create-an-account-item {
    background-color: var(--color-white);
    border: 4px solid var(--a-lighter-version-of-the-blue);
    box-sizing: border-box;
  }
  .create-an-account-item {
    position: absolute;
    top: 179px;
    left: 52px;
    border-radius: var(--br-mini);
    width: 391px;
    height: 66px;
  }
  .create-an-account-inner {
    top: 321px;
  }
  .create-an-account-child1,
  .create-an-account-child2,
  .create-an-account-inner {
    position: absolute;
    left: 52px;
    border-radius: var(--br-mini);
    width: 391px;
    height: 66px;
  }
  .create-an-account-child1 {
    top: 424px;
    background-color: var(--bitch);
  }
  .create-an-account-child2 {
    top: 501px;
    background-color: #c3dbff;
    opacity: 0.8;
  }
  .email1,
  .password1 {
    position: absolute;
    top: 132px;
    left: 52px;
    font-size: var(--font-size-9xl);
    font-weight: 500;
  }
  .password1 {
    top: 274px;
  }
  .enter-your-password1,
  .larbisaidchikhensiaedudz1 {
    position: absolute;
    top: 197px;
    left: 75px;
    font-weight: 500;
  }
  .enter-your-password1 {
    top: 339px;
    color: var(--color-darkgray-100);
  }
  .log-in {
    color: var(--bitch);
  }
  .already-have-an-container {
    position: absolute;
    top: 582px;
    left: 65px;
    font-weight: 500;
    color: var(--color-darkgray-100);
  }
  .continue-with-google,
  .create-account {
    position: absolute;
    top: 441px;
    left: 151px;
    font-weight: 500;
    color: var(--color-white);
  }
  .continue-with-google {
    top: 519px;
    left: 128px;
    color: var(--bitch);
  }
  .icons8-google-2,
  .vector-icon1 {
    position: absolute;
    overflow: hidden;
  }
  .vector-icon1 {
    height: 2.37%;
    width: 4.44%;
    top: 54.91%;
    right: 14.92%;
    bottom: 42.72%;
    left: 80.65%;
    max-width: 100%;
    max-height: 100%;
  }
  .icons8-google-2 {
    top: 513px;
    left: 66px;
    width: 42px;
    height: 42px;
  }
  .create-an-account {
    position: absolute;
    top: 196px;
    left: 891px;
    width: 496px;
    height: 632px;
    font-size: var(--font-size-5xl);
    color: var(--color-dimgray);
  }
  .to-do-list-cuate-11 {
    position: absolute;
    top: 481px;
    left: 133px;
    width: 500px;
    height: 500px;
    overflow: hidden;
  }
  .to-do-app1 {
    position: relative;
    background-color: var(--a-lighter-version-of-the-blue);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-45xl);
    color: var(--color-white);
    font-family: var(--font-google-sans);
  }
  