@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    --primary-color: #79D7FF;
}

body{
    background: #ffffff;
    margin: 0;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}
.right{
    background: #0A2A5C;
}
.left-col{
    width: 60%;
    background: #0A2A5C;
    padding:1em;
    margin: 0px 0px;
    font-size: 1.2em;
    .style-task{
        text-decoration: none;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 3.2em;

        span{
            color: var(--primary-color);
        }
    }
}
.right-col{
    width: 40%;
    background-color: var(--primary-color);
    padding: 1em;
}
.create-acc{
    margin: auto;
    position: relative;
    top: 45%;
    transform: translate(0, -50%);
    width: 90%;
    height: 70%;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 2px #636262;
    color:#000;
    .title{
        padding: 0.6em;
        font-weight: bolder;
        text-decoration: none;
        text-align: center;
    }
    .pass{
        font-weight: 500;
        padding: 0px 8%;
    }
    .em{
        font-weight: 500;
        padding: 0px 8%;
    }
}
.main{
    display: flex;
    place-content: space-between;
}
input[type=email]{
    width: 85%;
    margin: 10px 8%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 16px 16px;
    color: #000000;
    font-family: 'Muli', sans-serif;
    border-color: #79D7FF;
    border-width: 3px;
    border-style: ridge;
    border-radius: 10px;
}
input[type=password]{
    width: 85%;
    margin: 10px 8%;
    padding: 16px 16px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Muli', sans-serif;
    border-color: #79D7FF;
    border-width: 3px;
    border-style:ridge;
    border-radius: 10px;
}

.create-acc-cta{
    background-color: #126DFB;
    border: none;
    color: white;
    padding: 16px 0px;
    width: 85%;
    text-decoration: none;
    margin: 10px 8%;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    border-radius: 10px;
}
.continue-google{
    display: flex;
    place-content: start center;
    background-color: #C3DBFF;
    align-items: center;
    border: none;
    color: #126DFB;
    padding: 16px 0px;
    width: 85%;
    text-decoration: none;
    margin: 10px 8%;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    border-radius: 10px;
    height: 48.8px;
}
.google{
    border: none;
    color: #126DFB;
}

.login{
    text-decoration: none;
    text-align: center;
    margin:auto;
    color: #AEAEAE;
    span{
        text-decoration: none;
        color:#126DFB;
    }
}
a{color: #126DFB;}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.wrapper{
    
}