:root {
    --light: #EEE;
    --lighterblue: #cde7ff;
    --lightblue: #b3e8ff;
    --lblue: #79d7ff;
    --blue: #126dfb;
    --dblue: #0443a5;
    --darkblue: #0a2a5c;
    --darkerblue: #1f4278;
    --grayblue: #b5afaf;
    --gray: #636262;
    --darkgray: #232332;
    --warningred: #FF3728;

    --font-google-sans: "Google Sans";
}


* {
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dblue);
    color: var(--light);
    font-family: var(--font-google-sans);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    max-height: 120px;
}

header button{
    color: var(--lightblue);
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--darkblue);
    text-transform: uppercase;
    max-height: 60px;
    align-self: center;
    padding: 0.7rem 1rem 0.7rem 1rem;
    border-radius: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
}

header button:hover{
    opacity: 0.95;
}

header button:active{
    opacity: 0.7;
}

header h1{
    align-self: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--lighterblue);

}

#new-task{
    max-width: 1000px;
    width: 100%;
    margin: 8rem auto 4rem auto;
}

#new-task-form{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input{
    flex: 1 1 0%;
    background-color: var(--lighterblue);
    padding: 1.35rem;
    border-radius: 1.5rem 0 0 1.5rem;
    color: var(--darkgray);
    font-weight: 550;
    font-size: 1.4rem;
}

#new-task-input::placeholder{
    color: var(--gray);
}

#new-task-submit{
    color: var(--lighterblue);
    font-size: 1.4rem;
    font-weight: 700;
    background-color: var(--darkerblue);
    text-transform: uppercase;
    padding: 1.35rem;
    border-radius: 0 1.5rem 1.5rem 0;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

#task-list{
    flex: 0 0 1%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

#task-list{
    padding: 1rem;

}

#tasks .task .content{
    flex: 1 1 0%;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkblue);
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 2rem;
}

.task_text{
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.task_text:not(:read-only){
    color: var(--lblue);
}

#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}

#tasks .task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

#tasks .task .actions button:hover{
    opacity: 0.8;
}

#tasks .task .actions button:active{
    opacity: 0.6;
}

#tasks .task .actions .edit{
    color: var(--lightblue);
}

#tasks .task .actions .delete{
    color: var(--warningred);
}